[Unit]
Description=Notify user about email message recieved from intended email address

[Service]
Type=simple
USER=<who_am_i>
ExecStart=<node_bin_directory> dist/main
WorkingDirectory=<absolute-path-to-project-direcotory>

[Install]
WantedBy=default.target
